<!DOCTYPE html>
<html lang="en" ng-app="whingePoolApp">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Whinge Pool",
                                     "Index",
                                     "Home",
                                     null,
                                     new
                                     {
                                         @class = "brand"
                                     })
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li>@Html.ActionLink("Home",
                                                 "Index",
                                                 "Home")</li>
                            <li>@Html.ActionLink("About",
                                                 "About",
                                                 "Home")</li>
                            <li>@Html.ActionLink("My WhingePools",
                                                 "WhingePools",
                                                 "Home")</li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - WhingePool (Written by Mahesh Krishnan and John Azariah)</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/clientside")
        @Scripts.Render("~/bundles/toastr")
        @RenderSection("scripts",
                       required: false)
    </body>
</html>